* {
  box-sizing: border-box;
}

/* Add your styles here */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container div {
    background: whitesmoke;
    border: 1px solid black;
    width: var(--div-width);
    aspect-ratio: 1;
}
